.author-info.author-info--dashboard {
    padding: 36px 0 34px;
}
.author-info {
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    min-height: 124px;
    margin-bottom: 70px;
}
.mcolorbg4 {
    background: #ff6a6d;
}
.mcolorbg2 {
    background: #feb71d;
}
.mcolorbg3 {
    background: #58c9e9;
}
.mcolorbg1 {
    background: #77de51;
}
.author-info.author-info--dashboard p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
    line-height: 26px;
}
.author-info.author-info--dashboard h3 {
    line-height: 48px;
}
.author-info h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
}

.dashboard_module {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
}
.statistics_module .dashboard__title {
    border-bottom: 0;
}
.dashboard_module .dashboard__title {
    padding: 36px 30px 30px;
    overflow: hidden;
}
.dashboard_module .dashboard__title h4 {
    font-size: 22px;
    display: inline-block;
    margin-bottom: 0px;
}
.statistics_module .select-wrap, .statistics_module #stat_legend {
    display: inline-block;
}
.legend {
    margin-top: 20px;
}
.legend ul li {
    display: inline-block;
    margin-right: 30px;
    color: #747a86;
}
.legend ul li span {
    height: 12px;
    width: 12px;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 11px;
}
.select-wrap {
    position: relative;
}
.select-wrap select {
    height: 45px;
    border: 1px solid #ececec;
    padding: 0 40px 0 020px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.dashboard_module .dashboard__content {
    padding: 0 28px 18px;
}
.statistics_data {
    border-top: 1px solid #ececec;
    padding-top: 25px;
    margin-top: 25px;
}
.statistics_data .single_stat_data {
    display: inline-block;
    text-align: center;
}
.statistics_data .single_stat_data .single_stat__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
}
.statistics_data .single_stat_data p span {
    color: #0674ec;
}
.single_item_visitor .dashboard__content .item_info {
    margin-top: 20px;
    overflow: hidden;
}
.single_item_visitor .dashboard__content .item_info .select-wrap {
    float: left;
    margin-top: 9px;
}
.single_item_visitor .dashboard__content .item_info .select-wrap select {
    font-weight: 500;
    color: #000;
}
.select-wrap select {
    height: 45px;
    border: 1px solid #ececec;
    padding: 0 40px 0 020px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.single_item_visitor .dashboard__content .item_info .info h4 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #0674ec;
    margin-bottom: 0;
}
.single_item_visitor .dashboard__content .item_info .info p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 30px;
}
.single_item_visitor .dashboard__content .item_info .info {
    float: right;
    text-align: right;
}
.single_item_visitor .dashboard__title #visit_legend {
    float: right;
}
.select-wrap i {
    font-size: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}